<table>
  <tbody>
    <tr>
      <th scope="row">
        <span class="label">タイトル</span>
      </th>
      <td>
        <span><%= article.title %></span>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <span class="label">内容</span>
      </th>
      <td>
        <span class="content_area"><%= article.content %></span>
      </td>
    </tr>
  </tbody>
</table>
