<div class="article_show">
  <div class="row">
    <span class="label">タイトル</span>
    <span><%= article.title %></span>
  </div>

  <div class="container">
    <span class="content_area"><%= article.content %></span>
  </div>
</div>
