<div class="article_index">
  <% if flash.notice.present? %>
    <p><%= flash.notice %></p>
  <% end %>

  <table class="article_table">
    <thead>
      <tr>
        <th class="name">タイトル</th>
        <th><%= sort_order "created_at", "公開日" %></th>
      </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
      <tr class="article">
        <th class="name"><%= article.title %></th>
        <th class="name"><%= l(article.created_at, format: :long) %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
